---
import Layout from '../layouts/Layout.astro'

if (!Astro.locals.session) {
  return Astro.redirect('/sign-in')
}
---

<Layout>
  <div class="flex flex-col gap-6 sm:mx-auto sm:w-full sm:max-w-sm">
    <img
      class="mx-auto h-36 w-auto"
      src="src/assets/astro-logo-light-gradient.svg"
      alt="Astro"
    />

    <span
      class="inline-flex items-center self-center rounded-md bg-green-500/10 px-4 py-2 font-medium text-green-400 ring-1 ring-green-500/20 ring-inset"
      >You're signed in!</span
    >

    <pre
      class="rounded-md border border-slate-600 p-4 font-mono text-sm font-light break-words whitespace-pre-wrap text-white">{JSON.stringify(Astro.locals.session)}</pre>

    <button
      id="sign-out-btn"
      type="button"
      class="mt-2 self-center rounded-md bg-indigo-500 px-3.5 py-2.5 text-sm font-semibold text-white shadow-xs hover:bg-indigo-400 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500"
      >Sign out</button
    >
  </div>
</Layout>

<script>
  import { authClient } from '../lib/auth-client' //import the auth client

  document
    .getElementById('sign-out-btn')
    ?.addEventListener('click', async () => {
      //sign out the user when the button is clicked
      await authClient.signOut({
        fetchOptions: {
          onSuccess: () => {
            window.location.href = '/sign-in'
          },
        },
      })
    })
</script>
